{% extends 'checker/base.html' %}

{% block content %}

<h1>FAQ Page</h1>
<br>
<h3>What exactly does ClassCheck do?</h3>
<p>ClassCheck rapidly polls your tracked classes <b>(up to 3 per phone/email)</b> and sends you a notification once it sees one of them is open.</p>

<h3>What happens when a class opens up?</h3>
<p>Everyone who is tracking that class will be notified and that class will be removed from their tracked list.</p>
<p><b>Important:</b> This means that you will have to re-add the class if you were unable to get in after being notified.</p>

<h3>Is ClassCheck an official Boston College website?</h3>
<p>No. This website was made by me - a CS Junior at BC. It is not endorsed by BC at all.</p>

<h3>Why make ClassCheck?</h3>
<p>Over the past few years I've witnessed many fellow students repeatedly refreshing UIS trying to see if a class is open. Well, I've automated the process now to hopefully save people some time and frustration.</p>

<h3>What are you doing with my contact info?</h3>
<p>Nothing. Again, I'm just a fellow student who decided to make this tool and phone/email are the fastest methods to let you know when a class opens. I will not be spamming your email or anything like that.</p>

{% endblock %}

