{% load staticfiles %}

<link href="{% static 'checker/css/bootstrap.css' %}" rel="stylesheet">
<!-- <link href="{% static 'checker/css/bootstrap-responsive.css' %}" rel="stylesheet"> -->
<!-- <script src="{% static 'checker/js/jquery-1.8.1.min.js' %}" type="text/javascript"></script> -->
<link href="{% static 'checker/css/jumbotron-narrow.css' %}" rel="stylesheet">


<h1>ClassCheck</h1>

<form action="{% url 'track' %}" method="post">
	{% csrf_token %}
	<input type="submit" name="track" value="Track Classes">
</form>

<form action="{% url 'remove' %}" method="post">
	{% csrf_token %}
	<input type="submit" name="remove" value="Untrack Classes">
</form>

<form action="{% url 'add_class' %}" method="post">
	{% csrf_token %}
	<input type="submit" name="add" value="Add Additional Classes">
</form>

<form action="{% url 'list_class_form' %}" method="post">
	{% csrf_token %}
	<input type="submit" name="list" value="See Your Tracked Classes">
</form>

<form action="{% url 'test' %}" method="post">
	{% csrf_token %}
	<input type="submit" name="test" value="Test Bootstrap">
</form>

