{% extends 'checker/base.html' %}

{% block content %}
<div class="jumbotron">
	<h1>What is Eagle ClassCheck?</h1>
	<p class="lead">Eagle ClassCheck is a website I created to allow BC students to track desired classes and get notified via email/text when a spot opens up.</p>
	<br>
	<p><a class="btn btn-lg" href="{% url 'track' %}" role="button">Start Tracking</a></p>
</div>

<div class="row marketing">
	<div class="col-lg-4">
		<p><a class="btn btn-primary center-block" href="{% url 'add_class' %}" role="button">Track Additional Classes</a></p>
		<p>If you've already signed up, you can go here to track additional classes (up to 3 max).</p>

	</div>

	<div class="col-lg-4">
		<p><a class="btn btn-primary center-block" href="{% url 'remove' %}" role="button">Untrack Classes</a></p>
		<p>Remove yourself from tracking completely.</p>

	</div>

		<div class="col-lg-4">
		<p><a class="btn btn-primary center-block" href="{% url 'list_class_form' %}" role="button">List Classes</a></p>
		<p>List the classes you are currently tracking.</p>

		</div>
</div>

{% endblock %}
